{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
 <h3>Ajouter un livre</h3>
{% endblock %}
{% block body %}
        {{ form_start(form) }}
    <div class="input-field col s12">
        {{ form_row(form.title) }}
    </div>
    <div class="input-field col s12">
        {{ form_row(form.summary) }}
    </div>
        {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
{% endblock %}
